body{
    background-color: #CCCCCC;
}

header {
    text-align: center;
    text-transform: uppercase;
	font-weight: bold;
	font-size: 20px;
}

h1 {
    position: relative;
    right: 250px;
}

.foto-conf {
    position: relative;
    right: 400px;
    width: 30%;
    box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 10px;
}

.local-confi {
    margin-top: 50px;
    font-size: 22px;
}

.espicificacao {
    font-size: 20px;
    position: absolute;
    bottom: 90px;
    left: 100px;
}

.voltar {
    color: #000000;
    background-color: aquamarine;
    font-size: 30px;
    box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 10px;
    text-decoration: none;
    position: absolute;
    bottom: 580px;
    left: 750px;
}
