body{
    background-color: #CCCCCC;
}

header {
    position: relative;
    top: 20px;
    background-color: brown;
    box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 10px;
    text-align: center;
    text-transform: uppercase;
	font-weight: bold;
	font-size: 20px;
}

h1 {
    position: relative;
    right: 250px;
}

.foto-conf {
    position: relative;
    right: 400px;
    width: 30%;
    box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 10px;
}

.local-confi {
    margin-top: 50px;
    font-size: 22px;
}

.espicificacao {
    font-size: 30px;
}

.espicificacao2 {
    font-size: 30px;
}

.espicificacao3 {
    font-size: 30px;
}

.espicificacao4 {
    font-size: 30px;
}

.espicificacao5 {
    font-size: 30px;
}

.espicificacao6 {
    font-size: 30px;
}

.espicificacao7 {
    font-size: 30px;
}

.espicificacao {
    font-size: 20px;
    position: absolute;
    bottom: 90px;
    left: 100px;
}


p img {
    color: #000000;
    width: 5%;
    text-decoration: none;
    position: absolute;
    bottom: 740px;
    left: 800px;
}
